/* Fichier css de la page games du site Jeu critique */

.contents_page{
    flex-direction: column;
    min-height: 1200px;
}

#search_area{
    margin-top: 1%;
    margin: 0.5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 4%;
}

#indication{
    margin: 0.3%;
    margin-left: 1%;
}

#results{
    padding-bottom: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

#results_title{
    font-size: 2em;
    color: brown;
    border: 5px solid brown;
    padding: 0.5%;
    margin: 0.5%;
}

.result_game{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0.5%;
    width: 95%;
    border: 5px solid brown;
    text-decoration: none;
    height: 160px;
}

.result_game img{
    width: 10%;
    /*padding-right: 0.9%;
    padding-left: 0.9%;*/
}

.content_text{
    height: 100%;
    width: 90%;
}

#game_title{
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    text-decoration: underline;
    height: 20%;
}

#game_info{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 80%;
}

.result_game p{
    color: black;
    margin: 0;
}

#games_info{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 80  %;
}

.games_info_content{
    width: 15%;
}

.description{
    width: 70%;
}

.category_name{
    font-size: 1.1em;
    text-decoration: none;
}