/* Sheet css form the website : Jeu critique - réseau social de ciritques de jeux de plateau */

body{
    margin: 0;
    padding: 0;
}

/* Header */

nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    background-color: #6B7BF4;
    height: 50px;
    width: 100%;
}

#header_left{
    width: 30%;
    display: flex;
    align-items: center;
}

#main_title{
    color: white;
    text-size-adjust: 3em;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.5em;
}

#header_right{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.img{
    margin: 2%;
    height: 80%;
}

nav ul a img{
    height: 100%;
}

nav .btn{
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 160px;
    background-color: #6B7BF4;
}

.btn:hover{
    transition: 0.2s;
    color: black;
    background-color: white;
}

.dropdown{
    height: 50px;
    position: relative;
}

#logout, #add_game{
    opacity: 0;
    pointer-events: none;
}

#logout:hover, #add_game:hover{
    opacity: 1;
    pointer-events: all;
    transition: 0.4s;
}

.dropdown a:hover + #logout,.dropdown a:hover + #add_game{ 
    opacity: 1;
    pointer-events: all;
    transition: 0.4s;
}



/* Footer */

#footer{
    height: 60px;
    background-color: #6B7BF4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}
#links{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer center p{
    margin-top: 0;
    margin-bottom: 0;
}

/* Body */

.contents_page{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;

}

.box1{
    margin: 5px;
    padding: 10px;
    border: 10px solid #6B7BF4;
    overflow: auto;
}

.big_title{
    font-size: 1.5em;
    font-weight: bold;
}

.small_title{
    font-size: 1.2em;
    font-weight: bold;
}

.errors {
    color: #721c24;
    background-color: #f8d7da;
    border: 2px solid #f5c6cb;
    border-radius: 15px;
    background-color: rgba(255, 0, 0, 0.4);
}