.contents_page{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 600px;
}

#add_game_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}