/* Box containing all reviews */

.top_box_review{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort_section{
    display: flex;
    align-items: center;
}

.sort_section p{
    margin-right: 5px;
    margin-left: 5px;
}


/* Review */

.review{
    border-top: 3px solid grey;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    height: auto;
}

.review p{
    margin-top: 0;
}

.top_review{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_review p, .top_review a{
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin-top: 0;
}

.bottom_review{
    display: flex;
}

.bottom_review a{
    margin-left: 10px;
}

.bottom_review p{
    margin-left: 10px; 
}

.bottom_review input{
    margin-left: 10px;
}
 
/* review's comment */

.comments_box{
    margin-left: 5%;
    margin-bottom: 1%;
}

.comments_box form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 1%;
}

.comments_box form input{
    width: 8%;
}

.comment{
    border-left: 3px solid grey;
    margin: 0.5%;
}

.comment p{
    margin: 0.7%;
}

.comment_top{
    font-weight: bold;
}

.btn1{
    color: black;
    text-decoration: none;
    border: black solid 1px;
    background-color: #E5E8E5;
    padding: 2px 5px 2px 5px;
}
